# basic
*~
target
GTAGS
GRTAGS
GPATH
prop
out
.DS_Store
.idea
*.iml
.project
.classpath
.settings
*.sublime-project
*.sublime-workspace
build-local.properties
.gradle
build

# Github java basic 
*.class


todo/angularjs/bower_components/**
todo/angularjs/js/kaazing/**
todo/javascript/bower_components/**
todo/javascript/js/kaazing/**
todomvc/bower_components/**
todomvc/saved/**
todomvcrest/bower_components/**

*.plist

todomvc-angular-rest/restapi/**
todomvc-angular-rest/bower_components/*


todomvc-react/node_modules/*

todomvc-angular/bower_components/*
todomvc-react/node_modules/*
todomvc-react/node_modules/classnames/index.js


todo/angularjs/node_modules/*

todo/javascript/node_modules/*

todomvc-angular/bower_components/*

todomvc-angular/node_modules/*

mqtt/javascript/node_modules/*
bouncy/node_modules/*