# basic
*~
target
GTAGS
GRTAGS
GPATH
prop
out
.DS_Store
.idea
*.iml
.project
.classpath
.settings
*.sublime-project
*.sublime-workspace
build-local.properties
.gradle
build

# Github java basic 
*.class


todo/angularjs/bower_components/**
todo/angularjs/js/kaazing/**
todo/javascript/bower_components/**
todo/javascript/js/kaazing/**
todomvc/bower_components/**
todomvc/saved/**

*.plist
